body {
    background-color: #fafafa;
}

#adminmenu a {
    line-height: 1;
    color: #fff;
}

#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
    width: 160px;
    background-color: #000;
}
#wpadminbar {
    background: #000;
}

