[class*="grid-"],
[class*="grid_"],
[class~="grid"] {
    margin: 0 -.0rem;
}

[class*="col-"],
[class*="col_"],
[class~="col"] {
    padding: 0 .0rem 0rem;
}

#wpadminbar {
    background: #000;
    z-index: 99999999999999999999999999999;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #f6f6f6;
    color: #504e4f;

}

hr {
    background-color: #f39022;
    border: none;
    height: 2px;
}

a {
    color: #f39022;
    text-decoration: none;
    transition: all .3s ease;
}

a.logo {
    display: flex;
}

a.logo:hover {
    text-decoration: none;
}

a.logo img {}

.site-title {
    color: #fff;
    align-self: flex-end;
    margin-bottom: 15px;
    margin-left: 20px;
    text-transform: uppercase;
}

.flex-items {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.header-item {
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.header-item a {
    color: #fff;
    font-weight: 900;
    padding-bottom: 0px;
}

.header-item a:hover {
    color: #fff;
}

a:hover {
    transition: all .3s ease;
    color: #504e4f;
    text-decoration: underline;
}

a.button-pull-right {
    color: #000;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    float: right;

    border: 1px solid #f39022;
}

a:hover.button-pull-right {
    color: #fff;
    background-color: #f39022;
    padding: 10px 20px;
    border-radius: 5px;
    float: right;

    text-decoration: none;
    border: 1px solid #fff;
}


.popular {
    min-height: 500px;
    background: url(../images/popular.jpg);
    background-size: cover;
    margin-top: 80px;
    background-position: center;
}

h2 {
    font-size: 38px;
    font-family: 'Poppins', sans-serif;
    color: #f39022;
    margin-bottom: 20px;
}

h3 {
    text-transform: uppercase;
    font-size: 20px;
    color: #504e4f;
    font-weight: 900;
}

.page-wrap {
    padding-top: 150px;
}

.main-nav {
    background-color: #fff;
}

.container {
    max-width: 1111px;
    margin: 0 auto;
}

.content {
    margin-top: 80px;
    margin-bottom: 80px;
}


.sidebar {
    background-color: #fff;
    padding: 40px;
    margin-top: 80px;
    margin-left: 20px;
    text-align: center;
}

.sidebar p {
    margin-top: 10px;
}

.clipboard {
    max-width: 57px;
    max-height: 84px;
    margin-bottom: 20px;
}

a img.logo-site {
    max-height: 90px;
    max-width: 64px;
    margin-top: 17px;
    margin-bottom: 20px;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    padding-top: 0px;
}

.banner h1 {
    color: #fff;
    font-size: 3em;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

header.main-header {
    background-color: #f39022;
    position: fixed;
    width: 100%;
}

// MEMBERS SECTION

.members {
    padding-top: 60px;
    max-width: 70%;
}

.main-footer {
    background-color: #504e4f;
}

// section become
.become {
    background: url(../images/become.png);
    background-size: cover;
    min-height: 313px;
    text-align: center;
    color: #fff;
    padding-top: 50px;
    border-radius: 20px;
}

.become h3 {
    color: #fff;
    font-size: 38px;
    text-transform: none;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.become button {
    background-color: #fff;
    border: none;
    margin: 40px;
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    color: #f39022;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.popular h4 {
    color: #fff;
    margin-bottom: 40px;
}

.popular {
    padding-top: 60px;
    font-size: 22px;
}

.center {
    text-align: center;
}

// popular links

.flex-popular {
    display: flex;
    flex-flow: row wrap;
}

.popular-items {
    background-color: #fff;
    flex: 1 0 25%;
    margin: 10px;
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
}


// nav
.main-nav ul {margin:0; padding:0;}
.main-nav ul li {padding:10px; padding-left: 0px; padding-right: 40px;}
.main-nav ul li {display: inline-block;}
.main-nav ul li a {color: #504e4f; font-weight: bold;}
.main-nav ul ul {
    display: none;
}
.main-nav ul li:hover > ul {
    display: block;
}
.main-nav ul ul {
    display: none;
    position: absolute;
    top: 42px;
    left: 0;
    z-index: 99999;
    width: 200px;
    background: #fff;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    padding-left: 20px;
}
.main-nav li {
    position: relative;
}

// nav arrows
.menu li.has-children > a:after {
 color: #000;
 height:10px;
 width:10px;
 content: " ";
 background: url(../images/arrow-down.svg);
 background-size: cover;
 font-size: 10px;
 display: inline-block;
margin-left: 8px;
 
}
.menu li li.has-children > a:after {
 color: #000;
 content: ' ►';
 font-size: 10px;
 vertical-align: 1px;
}

