@media only screen and (max-width: 1200px) {

    .container {
        padding: 20px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .banner h1 {
        font-size: 2em;
        padding: 20px;
    }

    .page-wrap {
        padding-top: 168px;
    }

    .content {
        margin-top: 20px;
    }

    .sidebar {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 1024px) {
    .flex-items {
        justify-content: center;
    }

    .page-wrap {
        padding-top: 212px;
    }

    a.logo {
        justify-content: center;
    }

    .become {
        padding-left: 20px;
        padding-right: 20px;
    }

    .become h3 {
        color: #fff;
        font-size: 26px;
    }

    .become button {
        margin: 20px;
    }
}

@media only screen and (max-width: 800px) {

    .page-wrap {
        padding-top: 254px;
    }
}

@media only screen and (max-width: 760px) {
    .content {
        margin-top: 20px;
    }

    .sidebar {
        margin-left: 0px;
        margin-top: 0px;
    }

    .members {
        max-width: 100%;
    }

    .flex-items {
        flex-direction: column;
    }

    .header-item {
        margin: 10px;
    }

    .page-wrap {
        padding-top: 336px;
    }

    .become {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}